node_modules
dist

.env
.env.*

.git
.gitignore
.vscode
.idea

README.md
LICENSE
.prettierrc
.prettierignore
.eslintrc
.eslintrc.js
eslint.config.js

test/
**/*.spec.ts

dockerfile
.dockerignore
docker-compose.yml

npm-debug.log
pnpm-debug.log